# Node modules
node_modules/

# Output directories
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# dotenv environment files
.env
.env.local
.env.*.local

# IDEs / Editors
.vscode/
.idea/
*.swp

# Coverage (si usas pruebas)
coverage/

# Others
package-lock.json